.gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 0 0;
    height: var(--navbar-height);
    pointer-events: none;
    isolation: isolate;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
    position: absolute;
    inset: 0;
}
.gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 0 0;
    height: var(--navbar-height);
    pointer-events: none;
    isolation: isolate;
}

.gradient-blur > div,
.gradient-blur::before {
    position: absolute;
    inset: 0;
}
.gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(32px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 78.75%
    );
}

.gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 82.5%
    );
}
.gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 86.25%
    );
}

.gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(6px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 90%
    );
}

.gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(5px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 93.75%
    );
}

.gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(4.5px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 97.5%
    );
}

.gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 65%,
            rgba(0, 0, 0, 0) 100%
    );
}