#home {
    min-height: calc(100dvh - var(--navbar-height));
    position: relative;
    overflow: hidden;
}
#citation{
    min-height: calc((100dvh - var(--navbar-height)) * 1.75);
}
#notfound{
    min-height: calc(100dvh - var(--navbar-height));
}
.project-header{
    min-height: calc(100dvh - var(--navbar-height));
    position: relative;
    overflow: hidden;
}

.bg-orange-custom {
    background-color: var(--orange);
}
.bg-pink-custom {
    background-color: var(--pink);
}
.bg-black-custom {
    background-color: black;
}

:root{
    --normal-size: 200px;
    --big-size: 350px;
}

@media only screen and (max-width: 767px) {
    :root{
        --normal-size: 150px;
        --big-size: 300px;
    }
}

@media only screen and (max-width: 639px) {
    :root{
        --normal-size: 130px;
        --big-size: 225px;
    }
}

@media only screen and (max-width: 400px) {
    :root{
        --normal-size: 130px;
        --big-size: 175px;
    }
}

.demi-cercle{
    height: var(--normal-size);
    aspect-ratio: 1/2;
    border-radius: calc(var(--normal-size) / 2) 0 0 calc(var(--normal-size) / 2);
}

.big-demi-cercle{
    height: var(--big-size);
    aspect-ratio: 1/2;
    border-radius: calc(var(--big-size) / 2) 0 0 calc(var(--big-size) / 2);
}

.big-cercle{
    height: var(--big-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.cercle{
    height: var(--normal-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.losange{
    height: var(--normal-size);
    aspect-ratio: 1/1;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.demi-losange-reverse{
    height: var(--normal-size);
    aspect-ratio: 1/2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.demi-losange{
    height: var(--normal-size);
    aspect-ratio: 1/2;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.triangle-reverse{
    height: var(--normal-size);
    aspect-ratio: 1/1;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.triangle{
    height: var(--normal-size);
    aspect-ratio: 1/1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.carre{
    height: var(--normal-size);
    aspect-ratio: 1/1;
}
.demi-cercle-reverse{
    height: var(--normal-size);
    aspect-ratio: 1/2;
    border-radius: 0 calc(var(--normal-size) / 2) calc(var(--normal-size) / 2) 0;
}
