#home {
    min-height: calc(100vh - var(--navbar-height));
    position: relative;
    overflow: hidden;
}

.bg-orange-custom {
    background-color: var(--orange);
}
.bg-yellow-custom {
    background-color: var(--yellow);
}

.demi-cercle{
    height: 200px;
    aspect-ratio: 1/2;
    border-radius: 100px 0 0 100px;
}

.cercle{
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}