@import "tailwindcss";

/* Nohemi - Thin (100) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* ExtraLight (200) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Light (300) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular (400) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium (500) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold (600) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold (800) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black (900) */
@font-face {
    font-family: "Nohemi";
    src: url("./assets/fonts/nohemi/Nohemi-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Satoshi - Light (300) */
@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/satoshi/Satoshi-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Satoshi - Regular (400) */
@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/satoshi/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Satoshi - Medium (500) */
@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/satoshi/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Satoshi - Bold (700) */
@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Satoshi - Black (900) */
@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/satoshi/Satoshi-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.font-nohemi {
    font-family: "Nohemi", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}
.font-satoshi {
    font-family: "Satoshi", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

:root {
    font-family: "Nohemi", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.icon-small{
    width: 22px;
    height: 22px;
}

.icon-instagram {
    mask: url('/src/assets/icons/instagram.svg') no-repeat center / contain;
    -webkit-mask: url('/src/assets/icons/instagram.svg') no-repeat center / contain;
}
.icon-github {
    mask: url('/src/assets/icons/github.svg') no-repeat center / contain;
    -webkit-mask: url('/src/assets/icons/github.svg') no-repeat center / contain;
}

.icon-linkedin {
    mask: url('/src/assets/icons/linkedin.svg') no-repeat center / contain;
    -webkit-mask: url('/src/assets/icons/linkedin.svg') no-repeat center / contain;
}

.icon-mail {
    mask: url('/src/assets/icons/envelope.svg') no-repeat center / contain;
    -webkit-mask: url('/src/assets/icons/envelope.svg') no-repeat center / contain;
}

:root {
    --navbar-height: 129px;
    --orange: color(display-p3 .99 .4 .02);
    --pink: #e666df;
}

html {
    scroll-behavior: smooth;
}

h1[id], h2[id], h3[id], section[id], .anchor-target {
    scroll-margin-top: var(--navbar-height);
}

